<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Trust Third Authority</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
<div class="container">
    <form class="form" id="challenge" method="post">
        <h1 class="form__title">Challenge Page</h1>
        <div class="form__input-group">
            <input type="text" class="form__input" id="first" autofocus placeholder="First Name">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="text" class="form__input" id="last" autofocus placeholder="Last Name">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__message form__message--error"></div>
        <button class="form__button" type="submit" style="margin-top:1rem;">Prove</button>
        <button class="form__button error" id="logout">Logout</button>
    </form>
</div>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>