<html>
<head>
    <meta charset="utf-8">
    <title>Voting System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/voting.css') }}">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<section id="top">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark" style="padding-top:30px;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('vote_result_page') }}">Poll Results</a></li>
                    <li id="logout" class="nav-item"><a class="nav-link" href="#">Logout <i class="fas fa-home"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="voting" class="container" >
        <h2 class="poll-name">{{ votes['vote_title'] }}</h2>
        <div class="row rw1">
            <div class="col-lg-4">
                <h2 id="cn-1" class="cn">{{votes['op1']}}</h2>
                <button id="op1" type="button" class="btn btn-1">Vote <i class="fas fa-hand-point-up"></i></button>
            </div>
            <div class="col-lg-4">
                <h2 id="cn-2" class="cn">{{votes['op2']}}</h2>
                <button id="op2" type="button" class="btn btn-2">Vote <i class="fas fa-hand-point-up"></i></button>
            </div>
            <div class="col-lg-4">
                <h2 id="cn-3" class="cn">{{votes['op3']}}</h2>
                <button id="op3" type="button" class="btn btn-3">Vote <i class="fas fa-hand-point-up"></i></button>
            </div>
        </div>
        <div class="form__message form__message--error"></div>
    </div>
    
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>